$color1: #000000;
$color2: #4851EF;
$color3: #FFFFFF;
$color4: #52CF4F;
$color5: #AFAFAF;
$color6: #D91313;
$color7: #F3F3F3;
$color8: #D8D8D8;
$color9: rgba(0, 0, 0, 0.3);
@mixin mixin1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.Profile{
  width: 515px;
  background: $color3;
}
.Profile__user-header{
  float: left; 
  width: 156px;
  height: 16px;
  margin-left: 36px;
  margin-top: 19px;
  margin-bottom: 16px;
  @include mixin1();
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color1;
}
.Profile__edit-button{
  box-sizing: border-box;
  margin-left: 353px;
  margin-top: 13px;
  width: 116.67px;
  height: 27.12px;
  background: $color2;
  border-radius: 5px;
  border-width: 0px; 
  display: block;
  text-align: center;
  @include mixin1();
  color: $color3; 
  cursor: pointer;
    }
.Profile__form{
   width: 438px;
   height: 463px;
   margin-left: 36px;
   margin-right: 41px;
   margin-top: 10.88px;
   padding-top: 20px;
   background: $color3;
   border: 1px solid $color7;
   box-sizing: border-box;
   border-radius: 8px;
     input{
         width: 211px;
         height: 22px;
         margin-left: 12px;
         margin-top: 3px;
         margin-bottom: 10px;
         background: $color3;
         border: 1px solid $color8;
         box-sizing: border-box;
         border-radius: 5px;
         padding-left: 10px;
         @include mixin1();
         font-size: 10px;
         line-height: 12px;
         color: $color1;
         }
     input:read-only{
         color: $color9;
                  }
     div{
         margin-left: 12px;
         @include mixin1();
         font-size: 8px;
         line-height: 9px;
         color: $color1;   
       }
    :nth-last-child(2){
         width: 420px; 
         height: 55px;
         margin-bottom: 19px;
      }
      :disabled{
        background: $color5;
              }
             }       
input:required:invalid {
  border: 1px solid $color6;
}   
.Profile__form-submit-button{
  width: 85px;
  height: 24.12px;
  margin-left: 343px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: $color4;
  @include mixin1();
  color: $color3;
  border-radius: 5px;
  cursor: pointer;
  border-width: 0px;  
    }                
.Profile__edit-button:hover, .Profile__form-submit-button:hover{
  box-shadow: 0 0 5px $color2;
}
.Profile__form-submit-button:hover{
  box-shadow: 0 0 5px $color5;
}