.App{
   display: grid;
   box-sizing: border-box;
   width: 665px;
   height: 1028px;
   grid-template-columns: 1fr 513px;
   grid-template-areas: 'a b';
}




                              
                               
                          
                       
                           
                           
                            
                            
                            

                           

                            
                        
                        

                      