$color1: #BDBDBD;
$color2: #FFFFFF;
$color3: #4B51EF;
@mixin mixin1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10.05px;
    border-radius: 5px;
}
@mixin mixin2 {
    padding-left: 15.2px;
    padding-right: 15.2px;
    height: 24.12px;
    cursor: pointer;
    color: $color2;
    background: $color3;     
    border-width: 0px;
    display: block;
    text-align: center; 
    @include mixin1();
}
.SortPanel{
    grid-area: a;
    background: $color1;
    padding-left: 20.27px;
    padding-right: 20.27px;
    padding-top: 35.17px;
        .SortPanel__sorting-header{                              
           @include mixin1();
           margin-top: 0px;
        }
        .SortPanel__sorting-city-button{
            @include mixin2();                          
            width: 86.13px; 
        }
        .SortPanel__sorting-company-button{
            @include mixin2();                            
            width: 105.39px;    
        }
}
.SortPanel__sorting-city-button:hover, .SortPanel__sorting-company-button:hover{
    box-shadow: 0 0 5px $color3;
}
@media (max-width: 665px){
    .SortPanel{
        box-sizing: border-box;
        padding: 5px;      
        width: 100%;
        text-align: center;
            .SortPanel__sorting-city-button{
                width: 100%;
            }
            .SortPanel__sorting-company-button{
                width: 100%;
            }
        }
    }


