.App{
   display: grid;
   box-sizing: border-box;
   height: 1028px;
   grid-template-areas: 'a b';
}
@media (max-width: 665px){
   .App{
      grid-template-areas: 'a a'
      'b b';
   }
}






                              
                               
                          
                       
                           
                           
                            
                            
                            

                           

                            
                        
                        

                      